.panel-chief,
.system-error {
  background: component-url("nib-styles-error-page", "bg-error.png") no-repeat 0 0;
  padding-left: 268px + $spacing-normal;
  min-height: 540px;

  @media (max-width: 250px) {
    padding-left: 0;
    min-height: auto;
    background: none;
    .system-error__extended {
      display: none;
    }
  }
}